.unit {
    background-color: white;	
    display: inline-block;
    float: left;
}

.border {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

button {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #91ca64;
	color: white;
	border-radius: 10px;
	font-size: 20px;
}
